.product-list-item {
    color:white;
    border:1px solid white;
    padding:15px;
    margin: 10px;
    background: rgba(51,102,204,0.75);
    font-size: 21px;
    letter-spacing: 0.5px;
    
}
.product-title {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: bold;
}
.product-description {
    font-weight: 300;
    margin-bottom: 15px;
}
.product-features {
    font-weight: bold;
    text-transform: uppercase;

}
.product-type,.product-screen-size,.product-capacity {
    margin-bottom: 15px;
}
.btn-add-to-cart {
    text-transform: uppercase;
    font-size: 21px;
    background: #3366cc;
    width: 215px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    display: block;
    color:white;
    border: 1px solid white;
}
.btn-add-to-cart:hover {
    cursor: pointer;
    background: #6699cc;
}
.product-price {
    font-size: 36px;
    text-align: center;
    margin: 10px 0;
}
.product-image {
    background:rgba(255,255,255,0.75);
    text-align: center;
    margin-bottom: 15px;
    padding: 10px 0;
}