* {
	box-sizing: border-box;
}
body {
	background-image: url(./patt.png);
}
.container {
	
	margin:0 auto;
}
.row:after {
	display: block;
	clear: both;
	content:"";
}
[class*="col-"] {
	float: left;
}
.col-lg-3 {
	width: 25%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-9 {
	width: 75%;
}
.text-center {
	text-align: center;
}
.title-page, h1{
	font-size: 32px;
	color: white;
	padding: 15px 0px;
	text-align: center;
}

@media(min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media(min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media(min-width: 1200px) {
	.container {
		width: 1170px;
	}
}